<h4 class="mt-3">List of Books!!</h4>
<!-- structural directive -->
<!-- <div *ngIf="blist.length==0">
    <p>No Books Added</p>
</div>
<div *ngIf="blist.length!=0">
    {{blist | json}}
</div> -->
<app-search 
[author]="'All'"
(emitAuthor)="searchBooks($event)"></app-search>
<div *ngIf="blist?.length==0; else books">
    <p>No Books Added</p>
</div>

<ng-template #books>
    <div *ngFor="let book of blist" class="mt-3">
        <app-book [book]="book"></app-book>
        <button class="btn btn-primary" 
        (click)="addToFavorite(book.bookid)">{{favorite}}</button>
        <hr/>
    </div>
</ng-template>

<app-favorite [favid] = "id"></app-favorite>
