#images img{
    width: 300px;
    height: 200px;
    margin-right: 30px;
    border: 2px solid firebrick;
    border-radius: 30px;
}
#images img:hover{
    opacity: 0.5;
}
#images{
    text-align: center;
    padding: 30px;
}
.line{
    border-bottom: 5px solid green;
}
#header{
    padding: 20px;
    font-size: 30px;
    color: brown;
    border-left: 2px solid brown;
    margin-top: 20px;
    margin-left: 30px;
}
#quiz{
    text-align: center;
    background-color: rgb(108, 68, 20);
    color: white;
    margin-top: 20px;
    width: 50%;
    margin: auto;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
}

ul{
    list-style-type: none;
}
ul li{
    font-size: 30px;
    padding: 20px;
}
ul li::before{
    content: '\00BB';
    margin-right: 30px;
}
.decor{
    font-size: 30px;
    margin-left: 50px;
}
.decor a{
    background-color: lightgreen;
    padding: 20px;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
.decor a:hover{
    text-decoration: overline;
}