<!-- String interpolation {{ }}
binding data with view
1-way data binding syntax 
[]
-->

 <app-header></app-header>

<div class="container">
     <!-- <app-pipes></app-pipes> -->
 <!-- <p>{{desc}}</p>
<p>{{2+2}}</p>
<hr/>
<h4>Data Binding difference</h4>
Proper Binding: <input type="checkbox" 
name="" [checked]="enabled"
id="p" >
Improper Binding: <input type="checkbox" 
name="" checked
id="i" > -->
<!-- event binding ()-->
<!-- <button (click)="change()">Enabled</button> -->
<!-- 2-way data binding [()]-->
 <!-- <h3>2-way data binding</h3>
 <p>Welcome : {{username}}</p>
<input type="text"  (input)="updateUsername($event)"
 [value]="username" id="username"/>

 <input type="text" [(ngModel)]="username" id="name"/>
 <p>
    {{getName()}}
    
</p> -->
<app-booklist></app-booklist>
</div>
<app-footer></app-footer>