<div class="book">
<div class="row">
        <div class="col-md-3">
            Id: 
        </div>
        <div class="col-md-5">
            {{book.bookid}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Title: 
        </div>
        <div class="col-md-5">
            {{book.title}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Author: 
        </div>
        <div class="col-md-5">
            {{book.author}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Price: 
        </div>
        <div class="col-md-5">
                {{book.price}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Description: 
        </div>
        <div class="col-md-5">
            {{book.desc}}
        </div>
    </div>
</div>
